

/*Стили для магазина*/



.row_catalog_products .col_product {
    padding-left: 5px;
    padding-right: 5px;
    background: cornsilk;
    margin-left: 5px;
    margin-top: 5px;
    opacity: 0.8;
}



.col_product {

    /*float: right;*/



}


#sidebar-left{

    height: 1000px;


}


.col_product :hover{


    background: darkgrey;
    opacity: 1;

}


.product_hover .p_description {
    display: inline-block;
    margin: 0 6px;
}
.p_description {
    display: inline-block;
    padding: 8px;
    width: 100%;
}



.c_names{


    font-weight: bold;



}



.c_names:hover{

    background: darkgrey;
cursor: pointer;

}



.drodowngoods{

    color: black;

    font-weight: bold;
    position: absolute;
    top: 287px;
    left: 92px;

}


ul.dropdown-menu  li a{

    color: black;
    font-weight: normal;

}


.droplist{
    padding-left: 10px;



}















/*Стили для магазина*/



html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
